  :host {
    display: block;
  }

  li {
    padding: var(--space-2xs);
    background-color: color-mix(in oklab, var(--clr-neutral-200) 40%, white);
    border-radius: var(--radius-1);
    transition: all 300ms ease;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-neutral-200);
    }

    a {
      text-decoration: none;
    }

    .priority {
      padding-block: 2px;
      padding-inline: 4px;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      background-color: color-mix(in oklab, currentcolor 10%, white);
      border-radius: 2px;
    }

    .high {
      color: var(--clr-primary-500);
    }

    .medium {
      color: var(--clr-primary-300);
    }

    .low {
      color: var(--clr-primary-200);
    }

    .category {
      padding-block: 2px;
      padding-inline: 4px;
      text-transform: capitalize;
      background-color: color-mix(in oklab, currentcolor 5%, white);
      border-radius: 2px;

      &.work {
        color: var(--clr-secondary-300);
      }

      &.personal {
        color: var(--clr-accent-500);
      }
    }
  }
