:host {
  --padding-inline: var(--space-m);
  --padding-block: var(--space-m);
}

select {
  --padding-inline: var(--space-2xs);
  --padding-block: var(--space-2xs);

  inline-size: 100%;
  border-radius: var(--radius-1);
}
