:host {
  --padding-inline: var(--space-m);
  --padding-block: var(--space-m);
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  --padding-inline: var(--space-2xs);
  --padding-block: var(--space-2xs);

  inline-size: 100%;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-300);
  border-radius: var(--radius-1);
}

select::picker-icon {
  rotate: 0deg;
  transition: 200ms rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  padding: var(--space-xs);
  margin-block-start: var(--space-2xs);
  border: none;
  border-radius: var(--radius-1);
  opacity: 0;
  transition: all 200ms allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

option:not(:first-of-type) {
  margin-block-start: var(--space-s);
}

option {
  padding-block: var(--space-xs);
  background-color: var(--clr-neutral-100);
  border-radius: var(--radius-1);
  transition: all 200ms ease;

  &:hover {
    background-color: var(--clr-neutral-200);
  }
}
