:host {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  font-weight: 600;
  color: var(--clr-primary-500);
}

.section {
  ul {
    padding-inline-start: 1.25em;
  }

   li {
    position: relative;
    display: flex;
    justify-content: space-between;

    > span:first-of-type {
      color: var(--clr-neutral-300);
    }

    > span:last-of-type {
      min-inline-size: 2ch;
      text-align: center;
    }

  &::before {
    position: absolute;
    inset-inline-start: -1.25em;
    color: var(--bullet-color);
    content: "•";
    transform: translateY(-1px);
    scale: 2
  }
  }
}
