

h1 {
  color: var(--clr-neutral-100);
}

.has-sidebar {
  display: flex;
  flex-wrap: wrap;
  inline-size: 100%;
  block-size: 90%;
  background-color: var(--clr-neutral-200);
  border-radius: var(--radius-1);
}

.has-sidebar > :first-child {
  flex-grow: 1;
  flex-basis: 18rem;
}

.has-sidebar > :last-child {
  flex-grow: 999;
  flex-basis: 0;
  min-inline-size: 50%;
}
