dialog {
  margin-block-start: 25%;
  border-radius: var(--space-xs);
  box-shadow: var(--shadow-elevation-high);

  &::backdrop {
  background-color: hsl(from var(--clr-neutral-200) h s l / 80%);
}
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

label {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-3xs) * 0.75);
}

input, textarea, select {
  min-block-size: 1.75em;
  background-color: hsl(from var(--clr-neutral-200) h s l / 25%);
  border: 1px solid currentcolor;
  border-radius: 2px;

}

.flex-wrapper {
  display: flex;
  gap: var(--space-xs);
  margin-block-start: var(--space-xs);
}
