dialog {
  margin-block-start: 25%;
  border-radius: var(--space-xs);
  box-shadow: var(--shadow-elevation-high);

  &::backdrop {
    background-color: hsl(from var(--clr-neutral-200) h s l / 80%);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

label {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-3xs) * 0.75);
}

input,
textarea,
select {
  min-block-size: 1.75em;
  background-color: hsl(from var(--clr-neutral-200) h s l / 25%);
  border: 1px solid currentcolor;
  border-radius: 2px;
}

.flex-wrapper {
  display: flex;
  gap: var(--space-xs);
  margin-block-start: var(--space-xs);
}

/* Error styles */

.error-message {
  color: var(--clr-primary-500);

  ul {
    padding: 0;
    margin-block-start: var(--space-2xs);
    list-style-position: inside;
  }
}

.input-error:is(input, select, textarea) {
  border-color: 1px solid var(--clr-primary-500);
  box-shadow:  0 0 0 2px var(--clr-primary-500);
}

dialog:has(.input-error) {
  border-color: 1px solid var(--clr-primary-500);
  box-shadow:  0 0 0 3px var(--clr-primary-500);
}
