:host {
  --padding-inline: var(--space-m);
  --padding-block: var(--space-m);

  background-color: var(--clr-neutral-100);

  li {
    padding: var(--space-2xs);
    border-radius: var(--radius-1);
    transition: background-colour 200ms ease;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-neutral-200);
    }

    .priority {
      padding-block: 2px;
      padding-inline: 4px;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      background-color: color-mix(in oklab, currentcolor 10%, white);
      border-radius: 2px;
      transition: all 200ms ease;
    }

    .high {
      color: var(--clr-primary-500);
    }

    .medium {
      color: var(--clr-primary-300);
    }

    .low {
      color: var(--clr-primary-200);
    }

    .category {
      padding-block: 2px;
      padding-inline: 4px;
      text-transform: capitalize;
      background-color: color-mix(in oklab, currentcolor 5%, white);
      border-radius: 2px;
      transition: all 200ms ease;

      &.work {
        color: var(--clr-secondary-300);
      }

      &.personal {
        color: var(--clr-accent-500);
      }
    }
  }
}
