:host {
  --padding-inline: var(--space-m);
  --padding-block: var(--space-m);

  background-color: var(--clr-neutral-100);

  li {
    padding: var(--space-2xs);
    border-radius: var(--radius-1);
    transition: background-colour 200ms ease;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-neutral-200);
    }
  }
}
