

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

label {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-3xs) * 0.75);
}

input,
textarea,
select {
  min-block-size: 1.75em;
  color: var(--clr-neutral-100);
  background-color: hsl(from var(--clr-neutral-100) h s l / 25%);
  border: 1px solid currentcolor;
  border-radius: 2px;

  &::placeholder {
    color: white;
  }
}

.flex-wrapper {
  display: flex;
  gap: var(--space-xs);
  margin-block-start: var(--space-xs);
}

/* Error styles */

.error-message {
  color: var(--clr-primary-500);

  ul {
    padding: 0;
    margin-block-start: var(--space-2xs);
    list-style-position: inside;
  }
}

.input-error:is(input, select, textarea) {
  border-color: 1px solid var(--clr-primary-500);
  box-shadow:  0 0 0 2px var(--clr-primary-500);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
