/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
button {
  margin: 0;
  hyphens: auto;
  overflow-wrap: break-word;
}

/* Adjust line heights */
h1,
h2,
h3,
h4 {
  line-height: 0.9;
}

/* Remove list styles on ul, ol elements with a class */
:where(ul[role='list']),
:where(ol[role='list']) {
  padding-inline: 0;
  list-style-type: none;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  overflow-y: scroll;
  line-height: 1.1;
  color: #000;
  background-color: #fff;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

/* Preserve aspect ratio */
img[width][height] {
  block-size: auto;
}

/* Let SVG scale without boundaries */
img[src$='.svg'] {
  max-inline-size: 100%;
  max-inline-size: none;
  block-size: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  overflow-wrap: break-word;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-box-edge: cap alphabetic;
}

/* Add space for anchor links */
[id] {
  scroll-margin-top: 2ex;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

:root {
  /* Colors */
  --clr-neutral-100: hsl(280deg 30% 98%);
  --clr-neutral-200: hsl(280deg 60% 92%);
  --clr-neutral-300: hsl(280deg 40% 18%);

  /* Pink range */
  --clr-primary-100: hsl(330deg 60% 88%);
  --clr-primary-200: hsl(320deg 65% 78%);
  --clr-primary-300: hsl(310deg 55% 68%);
  --clr-primary-400: hsl(300deg 50% 58%);
  --clr-primary-500: hsl(290deg 45% 48%);

  /* Blue range */
  --clr-secondary-100: hsl(210deg 55% 88%);
  --clr-secondary-200: hsl(200deg 60% 78%);
  --clr-secondary-300: hsl(190deg 50% 68%);
  --clr-secondary-400: hsl(180deg 45% 58%);
  --clr-secondary-500: hsl(170deg 40% 48%);

  /* Orange coral range */
  --clr-accent-100: hsl(25deg 65% 92%);
  --clr-accent-200: hsl(28deg 70% 85%);
  --clr-accent-300: hsl(31deg 65% 75%);
  --clr-accent-400: hsl(34deg 70% 68%);
  --clr-accent-500: hsl(37deg 75% 60%);

  /* Interface colors */
  --high: var(--clr-primary-500);
  --medium: var(--clr-primary-300);
  --low: var(--clr-primary-200);
  --work: var(--clr-secondary-300);
  --personal: var(--clr-accent-500);

  /* Single steps */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.48rem + 0.09vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.71rem + 0.18vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);
  --space-m: clamp(1.5rem, calc(1.45rem + 0.27vw), 1.69rem);
  --space-l: clamp(2rem, calc(1.93rem + 0.36vw), 2.25rem);
  --space-xl: clamp(3rem, calc(2.89rem + 0.54vw), 3.38rem);
  --space-2xl: clamp(4rem, calc(3.86rem + 0.71vw), 4.5rem);
  --space-3xl: clamp(6rem, calc(5.79rem + 1.07vw), 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.45vw), 0.56rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.39rem + 0.54vw), 0.88rem);
  --space-xs-s: clamp(0.75rem, calc(0.64rem + 0.54vw), 1.13rem);
  --space-s-m: clamp(1rem, calc(0.8rem + 0.98vw), 1.69rem);
  --space-m-l: clamp(1.5rem, calc(1.29rem + 1.07vw), 2.25rem);
  --space-l-xl: clamp(2rem, calc(1.61rem + 1.96vw), 3.38rem);
  --space-xl-2xl: clamp(3rem, calc(2.57rem + 2.14vw), 4.5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.21rem + 3.93vw), 6.75rem);

  /* Font styles */
  --ff-headings: 'Outfit', system-ui, sans-serif;
  --ff-body: 'Outfit', system-ui, sans-serif;

  /* Font sizes */
  --step--1: 0.75rem;
  --step-0: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.16rem + 0.21vw), 1.35rem);
  --step-2: clamp(2.07rem, calc(2rem + 0.37vw), 2.33rem);
  --step-3: clamp(2.49rem, calc(2.4rem + 0.44vw), 2.8rem);
  --step-4: clamp(2.99rem, calc(2.88rem + 0.53vw), 3.36rem);
  --step-5: clamp(3.58rem, calc(3.46rem + 0.64vw), 4.03rem);

  /* Box shadow */
  --shadow-color: 280deg 40% 18%;

  /* prettier-ignore */
  --shadow-elevation-low:
    0 0.4px 0.6px hsl(var(--shadow-color) / 0%),
    0 1.3px 2px hsl(var(--shadow-color) / 25%);

  /* prettier-ignore */
  --shadow-elevation-medium:
    0 0.4px 0.6px hsl(var(--shadow-color) / 0%),
    -0.1px 6.4px 9.6px hsl(var(--shadow-color) / 35%);

  /* prettier-ignore */
  --shadow-elevation-high:
    0 0.4px 0.6px hsl(var(--shadow-color) / 0%),
    -0.1px 6.9px 10.4px hsl(var(--shadow-color) / 29%),
    -0.3px 21.3px 32px hsl(var(--shadow-color) / 58%);

  /* Border radius */
  --radius-1: var(--space-3xs);
  --radius-2: var(--space-2xs);
  --radius-4: var(--space-xs);
}

body {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(320px, 900px)
    minmax(0, 1fr);
  min-block-size: 100vh;
  font-family: var(--ff-body);
  font-size: var(--step-0);
  font-weight: 400;
  color: var(--clr-neutral-300);
  background-color: var(--clr-neutral-300);
  transition: background-color var(--duration);

  > * {
    grid-column: 2;
  }
}

:is(h1, h2, h3) {
  font-family: var(--ff-headings);
  font-weight: 700;
  color: var(--clr-neutral-300);
  letter-spacing: 0.1px;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

:focus-visible {
  outline: 2px dashed currentcolor;
  outline-offset: 2px;
}

/* Utilities */
.visually-hidden:not(:focus, :active) {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.stack > * + * {
  margin-block-start: var(--stack, var(--space-s, 1em));
  margin-inline: auto;
}

.box {
  padding-block: var(--padding-block, var(--space-s, 1em));
  padding-inline: var(--padding-inline, var(--space-s, 1em));
}

/* Blocks */
button {
  inline-size: 8rem;
  padding-block: var(--space-2xs);
  padding-inline: var(--space-xs);
  font-size: var(--size-0);
  font-weight: bolder;
  color: var(--fg, var(--clr-neutral-300));
  text-align: center;
  cursor: pointer;
  background-color: var(--bg, var(--clr-primary-100));
  border-radius: var(--space-s);
  transition: all 300ms;

  &:hover {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-200);
  }

  &[variant='outline'] {
    color: var(--clr-neutral-300);
    background-color: var(--clr-neutral-100);

    &:hover {
      color: var(--clr-neutral-100);
      background-color: var(--clr-primary-200);
    }
  }
}
